@media (min-width:1025px) {
    .header{
        background-attachment: fixed;
    }

    .numbers{
        background-attachment: fixed;
    }

    .testimonail{
        background-attachment: fixed;
    }

    .contact{
        background-attachment: fixed;
    }
}