:root {
    --primary-color: #0078FF;
    --secondary-color: #3293FF;
    --box-shadow: rgba(129, 186, 251, 0.583);
    --linear-gradient: linear-gradient(rgba(0, 120, 255, 0.7)0% 100%);
}

h2::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 6rem;
    bottom: -0.5rem;
    background-color: var(--primary-color);
    height: .1563rem;
}

p.highlight::after {
    content: "";
    position: absolute;
    top: 150%;
    left: 50%;
    right: 0;
    height: .3125rem;
    width: 3rem;
    background-color: var(--primary-color);
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}

/* Start of Navbar */
.navbar {
    background-color: rgba(4, 4, 4, 0.92);
}

.navbar ul.navbar-nav li.nav-item::after {
    content: "";
    position: absolute;
    left: 1.5625rem;
    visibility: hidden;
    right: 100%;
    bottom: 0;
    background-color: white;
    height: .125rem;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar ul.navbar-nav li.nav-item:hover::after {
    right: .625rem;
    visibility: visible;
}

.navbar li.dropdown ul.nav-drop-active {
    left: 1.5rem;
    top: 300%;
    opacity: 0;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
}

.navbar li.dropdown:hover>ul.nav-drop-active {
    opacity: 1;
    top: 120%;
}

.navbar li.dropdown ul.nav-drop-active li.nav-a-active a:hover {
    color: var(--primary-color);
    background-color: transparent;
    transition: color 0.6s ease;
    -webkit-transition: color 0.6s ease;
    -moz-transition: color 0.6s ease;
    -ms-transition: color 0.6s ease;
    -o-transition: color 0.6s ease;
}

/* End of Navbar */

/* Start of Header */
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)0% 100%), url(./../images/hero-bg.jpg);
    background-position: center;
    background-size: cover;
}

.header h1 {
    font-size: 3rem;
    line-height: 3.8rem;
}

.header span.typed-cursor {
    font-size: 1.875rem;
    font-weight: 800;
}

/* End of Header */

/* Start of About */
.about figure img {
    width: 9.375rem;
}

/* End of About */

/* Start of Services */
.services .inner-services i {
    box-shadow: var(--primary-color) 0px 0px 0px .625rem;
    width: 100px;
    height: 100px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.services .inner-services i::before {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.services .inner-services:hover i {
    box-shadow: var(--box-shadow) 0 0 0 .625rem;
    background-color: var(--primary-color);
}

/* End of Services */
.numbers {
    background-image: var(--linear-gradient), url(./../images/counters-bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 7.5rem 0;
    color: #CDE1F8;
}

.numbers .num i {
    box-shadow: #CDE1F8 0 0 0 .625rem;
    width: 3.75rem;
    height: 3.75rem;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.numbers .num i::before {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

/* Start of Portfolio */
.portfolio .portfolio-img img {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.portfolio .card:hover .portfolio-img img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.portfolio .portfolio-btn i {
    box-shadow: var(--primary-color) 0px 0px 0px 2px;
    width: 2.1875rem;
    height: 2.1875rem;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.portfolio .portfolio-btn i::before {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

/* End of Portfolio */

/* Start of Testimonail */
.testimonail {
    background-image: var(--linear-gradient), url(./../images/overlay-bg.jpg);
    background-position: center;
    background-size: cover;
}

.testimonail .testimonial-p {
    max-width: 35rem;
}

.testimonail #carouselExampleSlidesOnly .carousel-indicators button.circle {
    width: .625rem;
    height: .625rem;
}

/* End of Testimonail */

/* Start of Blog */
.blog .card .card-footer img {
    width: 12%;
}

.blog .card .card-footer a span {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.blog .card .card-footer a span:hover {
    color: var(--primary-color);
}

/* End of Blog */

/* Start of Contact */
.contact {
    background-image: var(--linear-gradient), url(./../images/overlay-bg.jpg);
    background-position: center;
    background-size: cover;
}

.contact .contact-btn {
    transition: all 0.3 ease-in-out;
    -webkit-transition: all 0.3 ease-in-out;
    -moz-transition: all 0.3 ease-in-out;
    -ms-transition: all 0.3 ease-in-out;
    -o-transition: all 0.3 ease-in-out;
    background-color: var(--primary-color);
}

.contact .contact-btn:hover {
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow) 0 0 0 .3125rem;
}

.contact .contact-box .contact-styled-icons i {
    position: relative;
    box-shadow: var(--primary-color) 0 0 0 .1875rem;
    width: 2.5rem;
    height: 2.5rem;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.contact .contact-box .contact-styled-icons i::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.contact .contact-box i:hover {
    box-shadow: var(--box-shadow) 0 0 0 .625rem;
    background-color: var(--primary-color);
}

/* End of Contact */

/* Start of Footer */
footer {
    background-color: #0062D3;
}

/* End of Footer */

/* Start of Back Button */
aside a i {
    width: 1.5625rem;
    height: 1.5625rem;
    transition: color 1s ease;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -ms-transition: color 1s ease;
    -o-transition: color 1s ease;
}

aside a i:hover {
    color: var(--secondary-color);
}
/* End of Back Button */